<p id="notice"><%= notice %></p>

<div class="container">
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3>CANCER PROTOCOLS</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-4">
            <h4>Breast</h4>
            <ul>
              <li><a href="#"><a href="#">Central nervous system</a></a></li>
              <li><a href="#">Endocrine</a></li>
              <li><a href="#">Gastrointestinal</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <h4>Genitourinary</h4>
            <ul>
              <li><a href="#">Gynecologic</a></li>
              <li><a href="#">Head and neck</a></li>
              <li><a href="#">Hematologic</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <h4>Ophthalmic</h4>
            <ul>
              <li class="dropdown">
                <a class="dropbtn pediatric">Pediatric</a>
                <div class="dropdown-content">
                  <a href="#">Ewing sarcoma biopsy</a>
                  <a href="#">Ewing sarcoma resection</a>
                  <a href="#">Extragonadal germ cell tumor biopsy/resection</a>
                  <a href="#">Hepatoblastoma biopsy/resection</a>
                  <a href="#">Neuroblastoma biopsy/resection</a>
                  <a href="#">Rhabdomyosarcoma biopsy/resection</a>
                  <a href="#">Kidney tumors biopsy/resection</a>
                </div>
              </li>
              <li><a href="#">Skin</a></li>
              <li><a href="#">Thorax</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3>BIOMARKER TEMPLATES</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-4">
            <h4>Breast</h4>
            <ul>
              <li><a href="#">Central nervous system</a></li>
              <li><a href="#">Endocrine</a></li>
              <li><a href="#">Gastrointestinal</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <h4>Genitourinary</h4>
            <ul>
              <li><a href="#">Head and neck</a></li>
              <li><a href="#">Hematologic</a></li>
              <li><a href="#">Skin</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <h4>Thorax</h4>
            <ul>
              <li><a href="#">Pediatric</a></li>
              <li><a href="#">Skin</a></li>
              <li><a href="#">Thorax</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  h4{ font-weight: bold}
  .panel-group ul { list-style: none}
  .panel-group ul a { text-decoration: none}
  .panel-group ul a:hover { color: red; background-color: white}

  .pediatric {
    color: black;
    font-size:14px;
    background-color: white !important;
  }

  .pediatric:hover{ background-color: white !important; color: black !important; cursor: pointer}


  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
    color: red
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

  nav>li:last-child{}
</style>